body{
    margin:0;
    background-color: #1e1e1e;
    font-family: "interregular";
}

h1,h2,h3,h4,h5,h6,p,ul,ol, blockquote{
    margin:0;
    padding: 0;
}

/*header, main, section, footer{
    width: 360;
    margin:auto;
    box-sizing: content-box;
}*/

.content-section{
    width: 360px;
    margin:auto;
    box-sizing: border-box;
    /*height: 100px;*/
}

.content-section_theme_dark{
    background-color: #131313;
}

.content-section_theme_bright{
    background-color: #FEE42A;
}

.header{
    display: flex;
    width: 360px;
    height: 132px;
    padding: 24px 20px;
    align-items: flex-start;
    gap: 168px;
    flex-shrink: 0;
}

.logo-image{
    width: 78.453px;
    height: 15.432px;
    flex-shrink: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    font-size: 16px;
}

.menu-main{
    color: var(--text-light, #F5F5F5);
    /*font-family: Inter;*/
    font-size: 16px;
    /*font-style: normal;*/
    font-weight: 400;
    line-height: 19.2px; /* 120% */
    text-decoration: none;
}

.href{
    color: var(--text-light, #F5F5F5);
    /*font-family: Inter;*/
    font-size: 16px;
    /*font-style: normal;*/
    font-weight: 400;
    line-height: 19.2px; /* 120% */
    text-decoration-line: underline;
}

.cover{
    padding: 7px 0px 0px 20px;
}

.intro{
    padding: 30px 20px 38px 20px;
}

.reasons{
 padding: 40px 20px;
}

.how-to{
    padding: 40px 20px 60px 20px;
}

.footer{
    padding: 20px;
}
